@import "./CSS/antd-overrides.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
pre {
  overflow-x: auto;
  max-width: 100%;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* light background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2b6cb0; /* deep blue accent */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3182ce; /* slightly brighter blue */
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
